<div class="container">
    <div class="video"></div>
    <div class="click-zone back" (click)="onBackClick()"></div>
    <div class="titletextbox" style="font-family: Arial">Thomas Young - 1773-1829</div>
    <div class="infotextbox" style="font-family: Arial">
        <ul>
            <li>Established the principle of interference of light. <br><br></li>
            <li>Resurrected the wave theory of light. <br><br></li>
            <li>Young allowed light to pass through two closely set holes in a screen. Young found that light beams spread apart and overlapped. In the areas of overlap, bands of alternating bright light and darkness can be observed. This was explained by the light waves constructively and destructively interfering respectively. <br><br></li>
            <li>This provides elementary evidence for the wave theory of light.</li>
        </ul>
    </div>
    <div class="thomasyoung"></div>
    <div class="youngdiagram"></div>
</div>
