<div class="container">
    <div class="video"></div>
    <div class="click-zone back" (click)="onBackClick()"></div>
    <div class="photoelectricexperiment">
        <figcaption>https://www.askiitians.com/iit-jee-dual-nature-of-matter-and-x-rays/study-of-photoelectric-effect/</figcaption>
    </div>
    <div class="infotextbox" style="font-family: Arial">
        <ul>
            <li>The photoelectric effect can be observed by placing a metal plate (e.g. an alkali metal) into a vacuum chamber with a detector.<br><br></li>
            <li>By shining light on to the metal plate, electrons are ejected from the plate and are captured by the detector.<br><br></li>
            <li>This causes a current to flow, which can be observed by an ammeter.<br><br></li>
        </ul>
    </div>
</div>
