.container {
    position: relative;
}

.video {
    position: absolute;
    left: 0;
    top: 0;
    width: 800px;
    height: 500px;
    background-image: url(../info_background.png);
    border: 0px groove yellow;
}

.infotextbox {
    position: absolute;
    left: 50px;
    top: 250px;
    width: 700px;
    z-index: 4;
    font-size: 20px;
}

.click-zone {
    position: absolute;
    cursor: pointer;
    z-index: 2;
}

.click-zone.back {
    background: none;
    background-image: url(../back_button.png);
    left: 0px;
    top: 0px;
    width: 140px;
    height: 60px;
}

.photoelectricexperiment{
    position: absolute;
    background-image: url(../photoelectric_experiment.gif);
    background-size: auto;
    border: 3px black solid;
    left: 171px;
    top: 40px;
    width: 457px;
    height: 193px;
}

  
figcaption {
    position: relative;
    color: black;
    text-align: right;
    font-style: italic;
    top: 196px;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
  }

/* https://www.askiitians.com/iit-jee-dual-nature-of-matter-and-x-rays/study-of-photoelectric-effect/ */ 