<div class="container">
    <div class="video"></div>
    <div class="click-zone back" (click)="onBackClick()"></div>
    <div class="infotextbox1" style="font-family: Arial">
        <ul>
            <li><b>Constructive Interference –</b> A type of interference that occurs at any <br>location where the two interfering waves have a displacement in <br>the same direction – Consequently the resultant wave has a <br>displacement greater than both constituent waves.  <br><br></li>
        </ul>
    </div>
    <div class="infotextbox2" style="font-family: Arial">
        <ul>
            <li><b>Destructive Interference –</b> A type of interference that occurs at any <br>location where the two interfering waves have a displacement in <br>the opposite directions. The result is that the final waveform has a <br>displacement less than the constituent waves. <br><br></li>
        </ul>
    </div>
    <div class="constructivediagram"></div>
    <div class="destructivediagram">
        <figcaption>https://www.physicsclassroom.com/class/waves/Lesson-3/Interference-of-Waves</figcaption>
    </div>
</div>
