<div class="container">
    <div class="video"></div>
    <div class="click-zone back" (click)="onBackClick()"></div>
    <div class="infotextbox1" style="font-family: Arial">When two waves meet, they interfere with one another</div>
    <div class="infotextbox2" style="font-family: Arial">Meanwhile when two particles meet, they do not display interference</div>
    <div class="gif1">
        <figcaption style="top: 170px">https://goaboutme.wordpress.com/2018/10/13/waves-of-voices/</figcaption>
    </div>
    <div class="gif2">
        <figcaption style="top: 103px">https://www.tutelman.com/golf/swing/golfSwingPhysics1.php</figcaption>
    </div>
</div>
