<div class="container">
    <div class="video"></div>
    <div class="instructions-container" style="font-family: Arial; color:white">
        <ul>
            <li><b>Overall Aim –</b> The aim of the escape room is to navigate through all the rooms, completing puzzles along the way to unlock further rooms/puzzles to reach the end in the shortest time possible.<br><br></li> 
            <div class="navigationimage"></div><li><b>Navigation –</b> Navigate between rooms using the red up/down/left/right buttons which can be found at the edge of the game window. When viewing information/a puzzle, navigate back to the room using the back button in the upper left corner.<br><br></li>
            <div class="informationimage"></div><li><b>Information Points –</b> Information to help you complete the puzzles can be found by clicking on the information points, as indicated by a book icon.<br><br></li>
            <div class="puzzleimage"></div><li><b>Puzzle Points –</b> Puzzles that must be completed to progress can be accessed by clicking on the puzzle piece icons located in rooms across the escape room.<br><br></li> 
            <div class="trafficlightsimage"></div><li><b>Traffic Light System –</b> Incomplete puzzles are indicated by a red traffic light, whilst already completed puzzles are indicated by a green traffic light.<br><br></li>
            <div class="lockimage"></div><li><b>Locks –</b> Locked rooms/puzzle pieces are indicated by a lock icon. These must be unlocked by completing a puzzle elsewhere in the escape room<br><br></li>
            <div class="trophyimage"></div><li><b>End Screen –</b> When the final room is reached, complete the escape room by clicking on the trophy.<br><br></li> 
            <div class="ingameinstructionsimage"></div><li><b>In-game Instructions –</b> Should you want to access the instructions at any point during the escape room, press this button in the bottom right corner of the screen.<br><br></li>
            <div class="hintimage"></div><li><b>Hints –</b> Get stuck? Press the hint button in the bottom right corner of the screen. 3 hints are available for each puzzle, with a 30 second cooldown between each hint.<br><br></li>
            <div class="giveupimage"></div><li><b>Give Up –</b> Want to give up? Should you want to exit the game, please press the 'give-up' button in the bottom right of the screen, and continue on to complete the post-escape room survey.<br><br></li>
            <div class="timerimage"></div><li><b>Timer –</b> You will have an infinite amount of time to complete this escape room. Nevertheless, a timer will be displayed in the bottom left of the screen so that you can track your progress.<br><br></li>
            <li><b>Refresh/Back –</b> Please note that the game will restart if you reload the page or press the browser's back button.<br><br></li> 
        </ul>
    </div>
    <div class="click-zone back" (click)="onBackClick()"></div>
</div>

