<div class="container">
    <div class="video"></div>
    <div class="click-zone back" (click)="onBackClick()"></div>
    <div class="infotextbox" style="font-family: Arial">When investigating the photoelectric effect, two interesting things were discovered:<br>
        <ul>
            <li>Increasing the intensity of the incident light did not increase the energy of the emitted electrons, instead resulting in more electrons being emitted.<br><br></li>
            <li>When you adjust the frequency of the incident light, the velocity, and therefore the kinetic energy of the emitted electrons changes.<br><br></li>
        </ul>
        These phenomena cannot be explained by the wave theory of light.
    </div>
    <div class="frequencydiagram"></div>
</div>
