<div class="container">
    <div class="video"></div>
    <div class="particlereflectiondiagram"></div>
    <div class="click-zone back" (click)="onBackClick()"></div>
    <div class="titletextbox" style="font-family: Arial">Particle Reflection</div>
    <div class="infotextbox" style="font-family: Arial">
        <ul>
            <li>When a particle collides with a <br>surface and rebounds it follows the <br>Law of Reflection (assuming that the <br>collision is perfectly elastic).<br><br></li>
            <li>Elastic collisions - Total kinetic<br> energy of the two colliding bodies <br>remains the same.<br><br></li>
            <li>Examples include snooker/pool balls <br>rebounding off one of the table’s cushions.</li>
        </ul>
    </div>
</div>
