<div class="container">
    <div class="video"></div>
    <div class="particlereflectiondiagram">
        <figcaption>https://micro.magnet.fsu.edu/primer/lightandcolor<br>/particleorwave.html</figcaption>
    </div>
    <div class="click-zone back" (click)="onBackClick()"></div>
    <div class="titletextbox" style="font-family: Arial">Particle Reflection</div>
    <div class="infotextbox" style="font-family: Arial">
        <ul>
            <li>When a particle collides with a surface and rebounds it follows the Law of Reflection (assuming that the collision is perfectly elastic).<br><br></li>
            <li>Elastic collisions - Total kinetic energy of the two colliding bodies remains the same.<br><br></li>
            <li>Examples include snooker/pool balls rebounding off one of the table’s cushions.</li>
        </ul>
    </div>
</div>
