<div class="container">
    <div class="video"></div>
    <div class="click-zone survey" (click)="onSurveyClick()"></div>
    <div class="idtextbox" style="font-family: Arial; color:white">Anonymous ID Code: {{anonymousCode}}</div>
    <div class="hidebutton" *ngIf="!consentGiven"></div>
    <div class="surveytext" *ngIf="consentGiven" style="font-family: Arial; color:#c090e4">Thank you for participating in the escape room! Please now complete the post-escape room survey linked below. Regardless of your performance in the escape room, your response to the survey is extremely valuable to this study, and is much appreciated.</div>
    <div class="surveytext" *ngIf="!consentGiven" style="font-family: Arial; color:#c090e4">Thank you for participating in the escape room! I hope you enjoyed the game, and learnt something new about wave-particle duality! You may now close this browser.</div>
</div>

