.container {
    position: relative;
}

.video {
    position: absolute;
    left: 0;
    top: 0;
    width: 800px;
    height: 500px;
    background-image: url(../info_background.png);
    border: 0px groove yellow;
}

.infotextbox {
    position: absolute;
    left: 70px;
    top: 90px;
    z-index: 4;
    font-size: 25px;
    width: 730px;
}

.click-zone {
    position: absolute;
    cursor: pointer;
    z-index: 2;
}

.click-zone.back {
    background: none;
    background-image: url(../back_button.png);
    left: 0px;
    top: 0px;
    width: 140px;
    height: 60px;
}

ul 
{
line-height:270%
}

.lightdiagram{
    position: absolute;
    background-image: url(../light_interference_300x212.png);
    border: 3px black solid;
    left: 420px;
    top: 50px;
    width: 300px;
    height: 212px;
}

.wavediagram{
    position: absolute;
    background-image: url(../waterwave_interference_300x150.png);
    border: 3px black solid;
    left: 420px;
    top: 280px;
    width: 300px;
    height: 150px;
}

