.container {
    position: relative;
}

.video {
    position: absolute;
    left: 0;
    top: 0;
    width: 800px;
    height: 500px;
    background-image: url(../info_background.png);
    border: 0px groove yellow;
}

.infotextbox {
    position: absolute;
    left: 50px;
    top: 60px;
    z-index: 4;
    font-size: 27px;
    width: 350px;
}

.click-zone {
    position: absolute;
    cursor: pointer;
    z-index: 2;
}

.click-zone.back {
    background: none;
    background-image: url(../back_button.png);
    left: 0px;
    top: 0px;
    width: 140px;
    height: 60px;
}

ul 
{
line-height:270%
}

.lightdiagram{
    position: absolute;
    background-image: url(../light_interference_300x212.png);
    border: 3px black solid;
    left: 450px;
    top: 60px;
    width: 300px;
    height: 212px;
}

.wavediagram{
    position: absolute;
    background-image: url(../waterwave_interference_300x150.png);
    border: 3px black solid;
    left: 450px;
    top: 300px;
    width: 300px;
    height: 150px;
}

  
figcaption {
    position: relative;
    color: black;
    text-align: right;
    font-style: italic;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
  }
