<div class="container" id='container' #container>
    <div class="video"></div>
    <div class="textbox" style="font-family: Arial; color: #fbe99e;">Unfortunately you cannot participate in this study without providing consent by agreeing to the statements in the previous form.</div>
    <div class="returnbutton" (click)="returnButton()" style="font-family: Arial; color: #272525;"><b><br>RETURN TO CONSENT FORM</b></div>
    <div class="continuebutton" (click)="continueButton()" style="font-family: Arial; color: #272525;"><b><br>CONTINUE WITH THE ESCAPE ROOM WITHOUT PARTICIPATING IN THE STUDY</b></div>
</div> 
