<div class="container">
    <div class="video"></div>
    <div class="click-zone back" (click)="onBackClick()"></div>
    <div class="titletextbox" style="font-family: Arial">Wave-Particle Duality</div>
    <div class="infotextbox" style="font-family: Arial">
        <ul>
            <li>Wave-Particle Duality - The possession of physical entities (e.g. light, electrons) of both wave-like and particle-like characteristics.<br><br></li>
            <li>Wave-particle duality highlights the inability of classical objects (such as waves and particles) to comprehensively describe the behaviour of quantum objects.</li>
        </ul>
    </div>
    <div class="waveparticlediagram"></div>
    <div class="verticaldottedline"></div>
</div>
