<div class="container">
    <div class="video"></div>
    <div class="click-zone back" (click)="onBackClick()"></div>
    <div class="infotextbox" style="font-family: Arial">The photoelectric effect can be explained by considering light as a collection of particle-like packets of energy (photons)<br>
        <ul>
            <li>If you increase the intensity of the incident light, you increase the number of ‘packets’ incident on the metal, all of which have the same energy. These ‘energy packets’ can then be used by lots of electrons to escape.<br><br></li>
            <li>Adjusting the frequency of the incident light changes the energy carried by the ‘packets’ but does not change the number of ‘packets’. As such, the energy obtained by each emitted electron changes.<br><br></li>
        </ul>
        <div style="text-align: center; font-size: 23px;"><b>The photoelectric effect therefore supports<br>a particle theory of light.</b></div> 
    </div>
</div>

