<div class="widercontainer">
    <div class="container">
        <div class="blurredbackground"></div>
        <div class="modalbox"></div>
        <button class="closebutton" type="button" (click)="close()" style= "font-size: 48px; font-family: Arial; text-align: center;">No</button>
        <button class="giveupbutton" type="button" (click)="giveUp()" style= "font-size: 48px; font-family: Arial; text-align: center;">Yes</button>
        <div class="giveuptext" style= "font-size: 48px; font-family: Arial; text-align: center; color: white;">Are you sure you want to give up?</div>
    </div>
</div>
