.container {
    position: relative;
}

.video {
    position: absolute;
    left: 0;
    top: 0;
    width: 800px;
    height: 500px;
    background-image: url(../info_background.png);
    border: 0px groove yellow;
}

/*
.inputbox{
    position: absolute;
    left: 550px;
    top: 330px;
}*/

.titletextbox {
    position: absolute;
    font-weight: bold;
    left: 150px;
    top: 50px;
    z-index: 4;
    font-size: xx-large;
    width: 650px;
}

.click-zone {
    position: absolute;
    cursor: pointer;
    z-index: 2;
}

.click-zone.back {
    background: none;
    background-image: url(../back_button.png);
    left: 0px;
    top: 0px;
    width: 140px;
    height: 60px;
}

.greenlight {
    position: absolute;
    background-image: url(../green_light.png);
    left: 600px;
    top: 190px;
    width: 45px;
    height: 100px;
}

.redlight {
    position: absolute;
    background-image: url(../red_light.png);
    left: 600px;
    top: 190px;
    width: 45px;
    height: 100px;
}

.puzzlediagram{
    position: absolute;
    background-image: url(../reflection_puzzle_wave_2_256x420.png);
    left: 120px;
    top: 30px;
    width: 256px;
    height: 420px;
}

.submitbutton {
    position: absolute;
    width: 90px;
    height: 40px;
    font-size: 16px;
    background: #3eb471;
    text-align: center;
    border: #525252 solid 4px;
    border-radius: 7px;
    cursor: pointer;
    font-weight: bold;
    left: 525px;
    top: 430px;
}

.customslider {
    position: absolute;
    -webkit-appearance: none;
    width: 240px;
    height: 17px;
    border-radius: 5px;  
    background: #c7c5c5;
    /*border: black 0.5px solid;*/
    outline: none;
    opacity: 0.8;
    -webkit-transition: .2s;
    transition: opacity .2s;
    left: 450px;
    top: 390px;
  }
  
  .customslider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    opacity: 1;
    background: #3eb471;
    border: 2px #525252 solid;
    cursor: pointer;
  }
  
  .customslider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
  }

  .slidertext {
    position: absolute;
    left: 450px;
    top: 345px;
    width: 240px;
    font-size: 32px;
    text-align: center;
    font-weight: bold;
  }