.container {
    position: relative;
}

.video {
    position: absolute;
    left: 0;
    top: 0;
    width: 800px;
    height: 500px;
    background-image: url(../info_background.png);
    border: 0px groove yellow;
}

.infotextbox {
    position: absolute;
    left: 70px;
    top: 120px;
    z-index: 4;
    font-size: 25px;
    width: 710px
}

.titletextbox {
    position: absolute;
    font-weight: bold;
    left: 90px;
    top: 50px;
    z-index: 4;
    font-size: 45px;
    width: 710px;
}

.click-zone {
    position: absolute;
    cursor: pointer;
    z-index: 2;
}

.click-zone.back {
    background: none;
    background-image: url(../back_button.png);
    left: 0px;
    top: 0px;
    width: 140px;
    height: 60px;
}

.interferencediagram{
    position: absolute;
    background-image: url(../interference_diagram_478x120.png);
    border: 3px black solid;
    left: 150px;
    top: 320px;
    width: 478px;
    height: 120px;
}

