<div class="container">
    <div class="video"></div>
    <div class="click-zone back" (click)="onBackClick()"></div>
    <div class="infotextbox" style="font-family: Arial">
        <ul>
            <li>Interference – When two waves meet they superpose to <br>form a resultant wave of greater or lower amplitude <br><br>i.e. The resultant wave is the sum of the amplitudes <br>of individual waves <br><br></li>
        </ul>
    </div>
    <div class="titletextbox" style="font-family: Arial">Interference</div>
    <div class="interferencediagram"></div>
</div>
