.widercontainer {
    position: absolute;
    left: 50%;
}


.container {
    position: absolute;
    left: -400px;
    z-index: 2;
}


.click-zone {
    position: absolute;
    cursor: pointer;
    z-index: 2;
}


