  <!--
  <div class="video"></div>
  <div class="click-zone a" data-zone="Left"></div>
  <div class="click-zone b" data-zone="Right"></div>
  -->

  <h1></h1>
  <nav>
    <ul>
      <!--
      <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
      <li><a routerLink="/room1" routerLinkActive="active">Room 1</a></li>
      <li><a routerLink="/room2" routerLinkActive="active">Room 2</a></li>
      <li><a routerLink="/room3" routerLinkActive="active">Room 3</a></li>
      -->
    </ul>
  </nav>
 <!-- <router-outlet></router-outlet> -->

  <div class="widercontainer">
    <div class="container">
      <router-outlet></router-outlet>
      <app-footer></app-footer>
    </div>
  </div>