.container {
    position: relative;
}

.video {
    position: absolute;
    left: 0;
    top: 0;
    width: 800px;
    height: 500px;
    background-image: url(../info_background.png);
    border: 0px groove yellow;
}

.infotextbox {
    position: absolute;
    left: 30px;
    top: 90px;
    width: 700px;
    z-index: 4;
    font-size: 22px;
}

.titletextbox {
    position: absolute;
    font-weight: bold;
    left: 65px;
    top: 55px;
    width: 750px;
    z-index: 4;
    font-size: 34px;
}

.click-zone {
    position: absolute;
    cursor: pointer;
    z-index: 2;
}

.click-zone.back {
    background: none;
    background-image: url(../back_button.png);
    left: 0px;
    top: 0px;
    width: 140px;
    height: 60px;
}

.photondiagram{
    position: absolute;
    background-image: url(../photon_diagram.png);
    background-size: 240px, 179px;
    border: 3px solid black;
    /* width: 200px;
    height: 149px; */
    width: 240px;
    height: 179px;
    left: 505px;
    top: 60px;
}

  
figcaption {
    position: relative;
    color: black;
    text-align: right;
    font-style: italic;
    top: 182px;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
  }

