<div class="container">
    <div class="video"></div>
    <div class="click-zone back" (click)="onBackClick()"></div>
    <div class="titletextbox" style="font-family: Arial">The Photon</div>
    <div class="infotextbox" style="font-family: Arial">
    <ul>
        <li>A packet or bundle of energy is called a <br>photon. </li><br>
        <li>Namely, a photon is a packet/quanta of <br>electromagnetic radiation, and is a type of <br>elementary particle.</li><br>
        <li>A photon can be considered to be a 'particle of light'</li><br>
        <!--Energy of a photon is: <em><i>E = hf = hc/lambda</i></em><br>
        (where h is the Planck’s constant, f is the frequency of the radiation/photon, c is the speed of light, and lambda is the wavelength of the radiation) <br><br>-->
        <li>A photon travels at the speed of light, c, in a vacuum</li><br>
        <li>A photon has zero rest mass (i.e. cannot exist at rest), so must be moving at all times</li><br>
    </ul>
    </div>
    <div class="photondiagram">
        <figcaption>https://erlangprogramming.org/what-is-the-frequency-of-ultraviolet-light.html</figcaption>
    </div>
</div>
