<div class="container">
    <div class="video"></div>
    <div class="click-zone back" (click)="onBackClick()"></div>
    <div class="titletextbox" style="font-family: Arial">The Photon</div>
    <div class="infotextbox" style="font-family: Arial"><br>A packet or bundle of energy is called a photon. <br>Namely, a photon is a packet/quanta of electromagnetic <br>radiation, and is a type of elementary particle. <br><br>
        Energy of a photon is: <em><i>E = hf = hc/lambda</i></em><br>
        (where h is the Planck’s constant, f is the frequency of the radiation/photon, c is the speed of light, and lambda is the wavelength of the radiation) <br><br>
        A photon travels at the speed of light, c, in a vacuum <br><br>
        A photon has zero rest mass (i.e. cannot exist at rest) <br>
    </div>
    <div class="photondiagram"></div>
</div>
