<div class="container" id='container' #container>
    <div class="video"></div>
    <div class="titletext" style = 'font-family: Arial; color: #c090e4;'>Please complete the form below before participating in this study.</div>
    <div class="form-container" style="font-family: Arial;">
        <div><br></div>
        <div style="text-indent: 30px; font-size: 35px; text-align: center;"><b>Consent Form</b><br></div>
        <ul>
            <li>I confirm that I have read and understand the sheet dated 02/12/20 for this project.</li>
            <td>
                <input type="checkbox" id="consent1" class="largerCheckbox">
                <label for="consent1" style="line-height: 70px;"> Agree </label><br>
            </td>
            <hr style="width:90%;text-align:left;margin-left:0">
            <li>I confirm that I am over the age of 16.</li>
            <td>
                <input type="checkbox" id="consent2" class="largerCheckbox">
                <label for="consent2" style="line-height: 70px;"> Agree </label><br>
            </td>
            <hr style="width:90%;text-align:left;margin-left:0" class="largerCheckbox">
            <li>I have had sufficient time to consider the information and ask any questions I might have, and I am satisfied with the answers I have been given.</li>
            <td>
                <input type="checkbox" id="consent3" class="largerCheckbox">
                <label for="consent3" style="line-height: 70px;"> Agree </label><br>
            </td>
            <hr style="width:90%;text-align:left;margin-left:0">
            <li>I agree to take part in this research project.</li>
            <td>
                <input type="checkbox" id="consent4" class="largerCheckbox">
                <label for="consent4" style="line-height: 70px;"> Agree </label><br>
            </td>
            <hr style="width:90%;text-align:left;margin-left:0">
            <li>I understand that my participation is voluntary and that I am free to withdraw at any time without giving a reason.	</li>
            <td>
                <input type="checkbox" id="consent5" class="largerCheckbox">
                <label for="consent5" style="line-height: 70px;"> Agree </label><br>
            </td>
        </ul>
    </div>
<!--    <button class="informationbutton" (click)="informationClick()">Information Sheet</button>
    <button class="formsubmitbutton" (click)="submitClick()">Submit</button>  -->
    <button class="formsubmitbutton" (click)="submitClick()">SUBMIT</button>
</div>
