.container {
    position: relative;
}

.video {
    position: absolute;
    left: 0;
    top: 0;
    width: 800px;
    height: 500px;
    background-image: url(../info_background.png);
    border: 0px groove yellow;
}

.infotextbox {
    position: absolute;
    left: 45px;
    top: 90px;
    width: 490px;
    z-index: 4;
    font-size: 22px;
}

.titletextbox {
    position: absolute;
    font-weight: bold;
    left: 65px;
    top: 60px;
    z-index: 4;
    font-size: 30px;
    width: 710px;
}

.click-zone {
    position: absolute;
    cursor: pointer;
    z-index: 2;
}

.click-zone.back {
    background: none;
    background-image: url(../back_button.png);
    left: 0px;
    top: 0px;
    width: 140px;
    height: 60px;
}

.wavepacket{
    position: absolute;
    background-image: url(../wavepacket.png);
    width: 200px;
    height: 199px;
    left: 550px;
    top: 180px;
}

  
figcaption {
    position: relative;
    color: black;
    text-align: right;
    font-style: italic;
    top: 155px;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
  }