.container {
    position: relative;
}

.video {
    position: absolute;
    left: 0;
    top: 0;
    width: 800px;
    height: 500px;
    background-image: url(../info_background.png);
    border: 0px groove yellow;
}

.infotextbox {
    position: absolute;
    left: 60px;
    top: 90px;
    width: 450px;
    z-index: 4;
    font-size: 20px;
}

.titletextbox {
    position: absolute;
    font-weight: bold;
    left: 90px;
    top: 50px;
    z-index: 4;
    font-size: 30px;
    width: 710px;
}

.click-zone {
    position: absolute;
    cursor: pointer;
    z-index: 2;
}

.click-zone.back {
    background: none;
    background-image: url(../back_button.png);
    left: 0px;
    top: 0px;
    width: 140px;
    height: 60px;
}

.wavepacket{
    position: absolute;
    background-image: url(../wavepacket.png);
    width: 200px;
    height: 199px;
    left: 550px;
    top: 180px;
}