<div class="container">
    <div class="video"></div>
    <div class="click-zone back" (click)="onBackClick()"></div>
    <div class="titletextbox" style="font-family: Arial">Does light consist of waves or particles?</div>
    <div class="infotextbox" style="font-family: Arial">
        <ul>
            <li>Some of the phenomena exhibited by light can be explained by a wave theory of light, whilst other light phenomena can be explained by a particle theory.<br><br><br></li>
            <li>Light simultaneously exhibits wave and particle-like behaviour.<br><br><br></li>
            <li>Light is accepted as having a dual nature. It is defined as a collection of photons propagating through space as electromagnetic waves.<br><br></li>
        </ul>
    </div>
    <div class="wavepacket">
        <figcaption></figcaption>
    </div>
</div>
