<div class="container">
    <div class="video"></div>
    <div class="wavereflectiondiagram"></div>
    <div class="click-zone back" (click)="onBackClick()"></div>
    <div class="titletextbox" style="font-family: Arial">Wave Reflection</div>
    <div class="infotextbox" style="font-family: Arial">
        <ul>
            <li>Waves exhibit reflection, and therefore <br>follow the Law of Reflection.<br><br><br></li>
            <li>Examples include water waves reflecting off<br> a harbour, sound waves reflecting off a wall, <br>and light waves reflecting off a mirror.</li>
        </ul>
    </div>
</div>
