<div class="container">
    <div class="video"></div>
    <div class="click-zone back" (click)="onBackClick()"></div>
    <div class="titletextbox" style="font-family: Arial">Photoelectric Effect</div>
    <div class="infotextbox" style="font-family: Arial">
        <ul>
            <li> Photoelectric Effect - The emission of electrons when electromagnetic radiation (e.g. light) is incident on a material, namely metals. <br><br> </li>
            <li> Electrons emitted in this way are called photoelectrons.</li>
        </ul>
    </div>
    <div class="photoelectricdiagram"></div>
</div>
