<div class="container">
    <div class="video"></div>
    <div class="click-zone back" (click)="onBackClick()"></div>
    <div class="titletextbox" style="font-family: Arial">Reflection</div>
    <div class="infotextbox" style="font-family: Arial">
        <ul>
            <li>Reflection - Change in direction at an interface between <br>two different media. <br><br></li>
            <li>Light (Visible Light) – Electromagnetic radiation in the <br>frequency range that can be seen by the human <br>eye (4&times;10<sup>14</sup>Hz – 8&times;10<sup>14</sup>Hz) <br><br></li>
            <li>Light experiences reflection <br>when incident on a reflective <br>surface (such as a mirror) <br><br></li>
        </ul>
    </div>
    <div class="lightreflectiondiagram">
        <!-- <figcaption>Fig.1 - </figcaption> -->
    </div>
</div>
