<div class="container" id='container' #container>
    <div class="video"></div>
    <div class="unilogo"></div>
    <div class="titletextbox" style="font-family: Arial; color: #fbe99e;">INFORMATION SHEET</div>
    <button class="continuebutton" style="font-family: Arial; color: #272525;" (click)="continueClick()">CONTINUE TO<br>CONSENT FORM</button>
    <button class="infobutton" style="font-family: Arial; color: #272525;" (click)="infoClick()">DOWNLOAD<br>INFORMATION SHEET</button>
    <div class="textbox" style="font-family: Arial; color: #fbe99e;">
    <ul>
<!--        <li>This is an escape room game to teach wave-particle duality<br><br></li>
        <li>Designed as part of an MPhys Physics Project for Durham University<br><br></li>
        <li>Studying the benefits of educational escape rooms<br><br></li>
        <li>Try out the escape room and participate in the study<br><br></li>
        <li>For further information, download the participant information sheet using the button below.<br><br></li>
        <li>etc.<br><br></li> -->
        <li style = "color: #c090e4;">This escape room game aims to teach the physics concept of wave-particle duality as part of a study for Durham University.<br><br></li>
        <li>This study aims to investigate the efficacy of educational escape rooms for teaching physics, and will be terminated in April 2021.<br><br></li>
        <li style = "color: #c090e4;">The benefits of the escape room game will be measured through your participation in surveys before and after the game.<br><br></li>
        <li>Your participation in both the escape room game itself, as well as the two corresponding surveys, will be extremely benficial to this study and is much appreciated.<br><br></li>
        <li style = "color: #c090e4;">Before starting the game, please complete the consent form found on the next page. Should you wish to withdraw your consent at any point in the future, you can do so by emailing your anonymous ID code ({{anonymousCode}}) to wpd.escaperoom@gmail.com.<br><br></li>
        <!-- <li>This study will be terminated in April 2021.<br><br></li> -->
    </ul>
    </div>
</div> 

