.container {
    position: relative;
}

.video {
    position: absolute;
    left: 0;
    top: 0;
    width: 800px;
    height: 500px;
    background-image: url(../downdeadend.png);
    border: 0px groove yellow;
}

.click-zone {
    position: absolute;
    cursor: pointer;
    z-index: 2;
    background: red;
    border: 0px solid blue;
}

.click-zone.up {
    left: 340px;
    top: 0px;
    width: 120px;
    height: 30px;
}

.click-zone.info1 {
    background: none;
    background-image: url(../info_book.png);
    cursor: pointer;
    left: 100px;
    top: 90px;
    width: 100px;
    height: 100px;
}

.click-zone.puzzle1 {
    background: none;
    background-image: url(../puzzle_piece.png);
    cursor: pointer;
    left: 600px;
    top: 310px;
    width: 100px;
    height: 100px;
}