<div class="container">
    <div class="video"></div>
    <div class="click-zone back" (click)="onBackClick()"></div>
    <div class="titletextbox" style="font-family: Arial">Discovery of the Photoelectric Effect</div>
    <div class="infotextbox" style="font-family: Arial">
        <ul>
            <li><i>Heinrich Rudolf Hertz – 1887 –</i> Observed that when ultraviolet light shines on two metal electrodes with a voltage applied across them, the light changes the voltage at which sparking takes place.<br><br><br></li>
            <li><i>Phillip Lennard – 1902 –</i> Demonstrated that electrically charged particles (electrons) are released from a metal surface when it is illuminated.<br><br><br></li>
            <li><i>Albert Einstein – 1905 –</i> Used the phenomena observed when investigating the photoelectric effect to theorise about light quanta (i.e. particles of light).<br><br><br></li>
        </ul>
    </div>
    <div class="heinrichhertz"></div>
    <div class="philliplennard"></div>
    <div class="alberteinstein"></div>
</div>
